Doc/schema/v1/SubItems/Constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="../../bin/CommonElement.xsd"/>
  <xs:complexType name="ConstraintsType">
    <xs:all>
      <xs:element ref="dn:SingleValue" minOccurs="0"/>
      <xs:element ref="dn:ChinaMobile" minOccurs="0"/>
      <xs:element ref="dn:ChinaTelcom" minOccurs="0"/>
      <xs:element ref="dn:ChinaUnicom" minOccurs="0"/>
      <xs:element ref="dn:CurrentDate" minOccurs="0"/>
      <xs:element ref="dn:Date" minOccurs="0"/>
      <xs:element ref="dn:DateRange" minOccurs="0"/>
      <xs:element ref="dn:Double" minOccurs="0"/>
      <xs:element ref="dn:DoubleRange" minOccurs="0"/>
      <xs:element ref="dn:Email" minOccurs="0"/>
      <xs:element ref="dn:FixLength" minOccurs="0"/>
      <xs:element ref="dn:Int" minOccurs="0"/>
      <xs:element ref="dn:IntRange" minOccurs="0"/>
      <xs:element ref="dn:Mobile" minOccurs="0"/>
      <xs:element ref="dn:MultipleNotEmpty" minOccurs="0"/>
      <xs:element ref="dn:NotEmpty" minOccurs="0"/>
      <xs:element ref="dn:PostCode" minOccurs="0"/>
      <xs:element ref="dn:Regex" minOccurs="0"/>
      <xs:element ref="dn:SFZ" minOccurs="0"/>
      <xs:element ref="dn:StringLength" minOccurs="0"/>
      <xs:element ref="dn:StringMinLength" minOccurs="0"/>
      <xs:element ref="dn:DateAfter" minOccurs="0"/>
      <xs:element ref="dn:NumberAfter" minOccurs="0"/>
      <xs:element ref="dn:NumberBefore" minOccurs="0"/>
      <xs:element name="MinSelectItems" minOccurs="0">
        <xs:annotation>
          <xs:documentation>针对CheckListBox这种控件，当选中的个数小于指定个数时报错</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="Count" type="xs:positiveInteger" use="required">
            <xs:annotation>
              <xs:documentation>最小的个数</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="SingleValue" type="dn:MessageType">
    <xs:annotation>
      <xs:documentation>在数据表中该字段必须唯一的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChinaMobile" type="dn:MobileType">
    <xs:annotation>
      <xs:documentation>中国移动号码约束，在web.config中配置ChinaMobileConfig可以重载默认的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChinaTelcom" type="dn:MobileType">
    <xs:annotation>
      <xs:documentation>中国电信号码约束，在web.config中配置ChinaTelcomConfig可以重载默认的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ChinaUnicom" type="dn:MobileType">
    <xs:annotation>
      <xs:documentation>中国联通号码约束，在web.config中配置ChinaUnicomConfig可以重载默认的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CurrentDate" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>不大于当前日期的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Date" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>日期类型校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateRange">
    <xs:annotation>
      <xs:documentation>在指定日期之间的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="LowValue" type="xs:date">
        <xs:annotation>
          <xs:documentation>日期范围的最小值，默认为1800/1/1</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HighValue" type="xs:date">
        <xs:annotation>
          <xs:documentation>日期范围的最大值，默认为3000/1/1</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Double" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>浮点类型校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DoubleRange">
    <xs:annotation>
      <xs:documentation>在指定浮点之间的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="LowValue" type="xs:double">
        <xs:annotation>
          <xs:documentation>浮点范围的最小值，默认为double.MinValue</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HighValue" type="xs:double">
        <xs:annotation>
          <xs:documentation>浮点范围的最大值，默认为double.MaxValue</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Email" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>格式必须是Email的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FixLength" type="dn:LengthType">
    <xs:annotation>
      <xs:documentation>长度必须是指定长度的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Int" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>整数类型校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IntRange">
    <xs:annotation>
      <xs:documentation>在指定整数范围的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="LowValue" type="xs:double">
        <xs:annotation>
          <xs:documentation>整数范围的最小值，默认为int.MinValue</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="HighValue" type="xs:double">
        <xs:annotation>
          <xs:documentation>整数范围的最大值，默认为int.MaxValue</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mobile" type="dn:MobileType">
    <xs:annotation>
      <xs:documentation>移动电话号码约束，在web.config中配置MobileConfig可以重载默认的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MultipleNotEmpty">
    <xs:annotation>
      <xs:documentation>几个字段不能同时为空校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="OtherFields" type="xs:string">
        <xs:annotation>
          <xs:documentation>其他字段的昵称，多个字段用,隔开</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotEmpty">
    <xs:annotation>
      <xs:documentation>不能为空的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ForceCheck" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>默认为false。true时，无论提交数据是否存在该字段都将检查，这将必然导致出错。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AutoTrim" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>默认为true。将提交的数据进行Trim后，在检查是否为空</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCode" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>格式必须是邮政编码的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Regex">
    <xs:annotation>
      <xs:documentation>按照指定的正则表达式进行校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="Message" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>错误提示消息</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Pattern" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>正则表达式，具体写法参考MSDN帮助</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Options">
        <xs:annotation>
          <xs:documentation>正则表达式的选项，默认为None。RegexOptions多个选项可以用,隔开</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="IgnoreCase"/>
            <xs:enumeration value="Multiline"/>
            <xs:enumeration value="ExplicitCapture"/>
            <xs:enumeration value="Compiled"/>
            <xs:enumeration value="Singleline"/>
            <xs:enumeration value="IgnorePatternWhitespace"/>
            <xs:enumeration value="RightToLeft"/>
            <xs:enumeration value="ECMAScript"/>
            <xs:enumeration value="CultureInvariant"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SFZ" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>格式必须是中国大陆的身份证号码的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StringLength" type="dn:LengthType">
    <xs:annotation>
      <xs:documentation>字符串长度不大于指定长度的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="StringMinLength">
    <xs:annotation>
      <xs:documentation>输入字符串必须有一定长度的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="MinLength" type="xs:positiveInteger" use="required">
        <xs:annotation>
          <xs:documentation>最小长度</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="TrimValue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>校验时对值先进行trim，默认为False</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateAfter" type="dn:CompareConstraintType">
    <xs:annotation>
      <xs:documentation>比较两个日期前后的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LengthType">
    <xs:attribute name="Length" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>指定的长度</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MobileType">
    <xs:attribute name="Pattern" type="xs:string">
      <xs:annotation>
        <xs:documentation>使用自定义的正则表达式</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element name="Message" type="dn:MultiLanguageType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>自定义的错误消息</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompareConstraintType">
    <xs:attribute name="BeforeNickName" type="xs:Name" use="required">
      <xs:annotation>
        <xs:documentation>之前字段的昵称</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="NumberAfter" type="dn:CompareConstraintType">
    <xs:annotation>
      <xs:documentation>比较两个数值字段大小的校验</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NumberBefore">
    <xs:annotation>
      <xs:documentation>比较两个数值字段大小的校验</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="AfterNickName" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>之后字段的昵称</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
