Doc/schema/v1/SubItems/DataNewOperators.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="../../bin/CommonElement.xsd"/>
  <xs:include schemaLocation="Common.xsd"/>
  <xs:include schemaLocation="OperatorCommon.xsd"/>
  <xs:include schemaLocation="DataNewCommon.xsd"/>
  <xs:include schemaLocation="UpdatedAction.xsd"/>
  <xs:element name="KnOperator">
    <xs:annotation>
      <xs:documentation>creater在happyserver中应用时，通用的操作按钮配置-----已经废弃的配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KnContent">
          <xs:annotation>
            <xs:documentation>按钮内容</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Parameter" type="dn:KnParameterType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>url后面的附加参数</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Style" type="dn:PageStyleIntf" use="required">
              <xs:annotation>
                <xs:documentation>访问的页面类型，list，update，edit，delete等</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FileName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>具体要访问的报表的内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="dn:dn_OperatorAttrGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnReportOperator">
    <xs:annotation>
      <xs:documentation>链接到知识库报表的操作符配置------已经废弃的配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ReportContent">
          <xs:annotation>
            <xs:documentation>报表相关配置</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:all>
              <xs:element name="WriteMode" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>单元格表单相关配置</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="ReportMode">
                    <xs:annotation>
                      <xs:documentation>报表模式</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="SubmitType">
                    <xs:annotation>
                      <xs:documentation>填报数据提交类型</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="AutoRefresh">
                    <xs:annotation>
                      <xs:documentation>提交成功后是否自动刷新，默认false</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="SubmitVerify">
                    <xs:annotation>
                      <xs:documentation>提交前是否完整校验，默认false</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Parameters" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="Parameter" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>后续追加参数</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent>
                          <xs:extension base="dn:KnParameterType">
                            <xs:attribute name="Enable">
                              <xs:annotation>
                                <xs:documentation>是否启动参数，默认启动，如不启动，则在拼装Url时，不拼装</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="Display">
                              <xs:annotation>
                                <xs:documentation>在参数区是否显示</xs:documentation>
                              </xs:annotation>
                            </xs:attribute>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
            <xs:attribute name="FileName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>知识库报表内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ShowParamPanel" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>是否显示参数面板</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DirectMakeReport" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>是否使用参数默认值直接查询报表</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ShowToolbar" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>是否显示工具栏</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="dn:dn_OperatorAttrGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnVolumeOperator">
    <xs:annotation>
      <xs:documentation>creater在happyserver中应用时，通用的操作按钮配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="KnContent">
          <xs:annotation>
            <xs:documentation>按钮内容</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element name="Parameter" type="dn:KnParameterType" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>url后面的附加参数</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Style" type="dn:PageStyleIntf" use="required">
              <xs:annotation>
                <xs:documentation>访问的页面类型，list，update，edit，delete等</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="KnVolumeName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>访问应用内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FileName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>具体要访问的报表的内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ConfirmData" type="dn:MultiLanguageType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>在执行操作前可以弹出对话框询问，此为询问的信息，如果是JS，此项无效</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DialogTitle" type="dn:JuelConfigItem" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果显示对话框，对话框的Title定义。如不定义，即为Caption</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="SearchConfig" type="dn:KnSearchConfigType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>查询参数配置</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="dn:dn_OperatorAttrGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnVolumeReportOperator">
    <xs:annotation>
      <xs:documentation>链接到知识库报表的操作符配置</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ReportContent">
          <xs:annotation>
            <xs:documentation>报表相关配置</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="WriteMode" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>单元格表单相关配置</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="ReportMode" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>报表模式，为0时在url后面添加reportWriteable=false，为1时在url后面添加reportWriteable=true，默认为空所以什么也不加</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="SubmitType" type="xs:string" use="optional">
                    <xs:annotation>
                      <xs:documentation>填报数据提交类型，当内容不为空也不为0时在url后面追加submitType，默认为空不添加</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="AutoRefresh" type="xs:boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>提交成功后是否自动刷新，默认false，当为true时在url后面追加DN_AutoRefresh=true，默认为false不添加</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="SubmitVerify" type="xs:boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>提交前是否完整校验，默认false，当为true时在url后面追加DN_SubmitVerify=true，默认false不添加</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="Parameter" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>后续追加参数</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="dn:KnParameterType">
                        <xs:attribute name="Enable" type="xs:boolean" use="optional">
                          <xs:annotation>
                            <xs:documentation>是否启动参数，默认启动，如不启动，则在拼装Url时，不拼装</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Display" type="xs:boolean" use="optional">
                          <xs:annotation>
                            <xs:documentation>在参数区是否显示，默认false</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:sequence>
            <xs:attribute name="KnVolumeName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>应用内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FileName" type="xs:string" use="required">
              <xs:annotation>
                <xs:documentation>知识库报表内部名称</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ShowParamPanel" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>是否显示参数面板，自动在url后面拼接showParamPanel参数，默认false</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DirectMakeReport" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>是否使用参数默认值直接查询报表，自动在url后面拼接directMakeReport参数，默认false</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ShowToolbar" type="xs:boolean" use="optional">
              <xs:annotation>
                <xs:documentation>是否显示工具栏，在生成的url中拼接hideToolbar=!showToolbar参数，默认为false，所以默认拼接true</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ConfirmData" type="dn:MultiLanguageType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>在执行操作前可以弹出对话框询问，此为询问的信息，如果是JS，此项无效</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DialogTitle" type="dn:JuelConfigItem" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果显示对话框，对话框的Title定义。如不定义，即为Caption</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="dn:dn_OperatorAttrGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomActionOperator">
    <xs:annotation>
      <xs:documentation>执行自定义操作的按钮，当前只支持行操作模式</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ConfirmData" type="dn:MultiLanguageType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>在执行操作前可以弹出对话框询问，此为询问的信息，如果是JS，此项无效</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="dn:ConditionedActions"/>
      </xs:sequence>
      <xs:attribute name="Id" type="xs:Name">
        <xs:annotation>
          <xs:documentation>Operator的Key，要求在Operators中唯一。当Id为DetailListInsert时，会自动添加外键默认值，保证子表数据的关联性。通常Insert按钮的Id为Insert，Update按钮的Id为Update，Delete按钮的Id为Delete。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnAliPayOperator">
    <xs:annotation>
      <xs:documentation>支付按钮</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Caption" type="dn:MultiLanguageType">
          <xs:annotation>
            <xs:documentation>按钮文字</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ConfirmData" type="dn:MultiLanguageType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>在执行操作前可以弹出对话框询问，此为询问的信息，如果是JS，此项无效</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DialogTitle" type="dn:JuelConfigItem" minOccurs="0">
          <xs:annotation>
            <xs:documentation>如果显示对话框，对话框的Title定义。如不定义，即为Caption</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="RetUrl" type="dn:JuelConfigItem" minOccurs="0">
          <xs:annotation>
            <xs:documentation>支付成功后跳转的链接，不配置默认跳转来时的链接</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PayParameters">
          <xs:annotation>
            <xs:documentation>支付参数</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PrimaryKey" type="dn:JuelConfigItem">
                <xs:annotation>
                  <xs:documentation>主键名称，只支持单主键</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Title" type="dn:JuelConfigItem">
                <xs:annotation>
                  <xs:documentation>订单标题，如果是弹出框自动变成标题</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Cost" type="dn:JuelConfigItem">
                <xs:annotation>
                  <xs:documentation>支付金额</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="dn:dn_OperatorAttrGroup"/>
      <xs:attribute name="DbContext" type="xs:Name">
        <xs:annotation>
          <xs:documentation>明细表所在数据库连接</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomActions">
    <xs:annotation>
      <xs:documentation>提交后，可以做的动作</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="dn:UpdatedActionGroup" maxOccurs="unbounded"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConditionedActions" type="dn:dn_CompositeCustomActionType">
    <xs:annotation>
      <xs:documentation>新增或者保存后执行的操作</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="dn_CompositeCustomActionType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="Item">
        <xs:annotation>
          <xs:documentation>具体操作项</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Condition" minOccurs="0">
              <xs:annotation>
                <xs:documentation>为了防止后续的扩展问题，添加了该节点，主要用于扩展按照条件执行不同的操作，同时也可控制上下文</xs:documentation>
              </xs:annotation>
              <xs:complexType/>
            </xs:element>
            <xs:element ref="dn:CustomActions"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
