Doc/schema/v1/SubItems/DingTalk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="BatchUpdatedAction.xsd"/>
  <xs:element name="DingTalkAction">
    <xs:annotation>
      <xs:documentation>发送钉钉消息的UpdatedAction</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="Message">
          <xs:annotation>
            <xs:documentation>发送的消息</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element ref="dn:TextMessage"/>
              <xs:element ref="dn:LinkMessage"/>
              <xs:element ref="dn:ImageMessage"/>
              <xs:element ref="dn:FileMessage"/>
              <xs:element ref="dn:OAMessage"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BaseMessageType">
    <xs:sequence>
      <xs:element name="TenantId" type="dn:JuelConfigItem" minOccurs="0">
        <xs:annotation>
          <xs:documentation>租户Id配置</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortAppName" type="dn:JuelConfigItem">
        <xs:annotation>
          <xs:documentation>微应用名称，用来找到相应的AgentId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ToUser" type="dn:JuelConfigItem" minOccurs="0">
        <xs:annotation>
          <xs:documentation>发送用户，多个用户中间用,隔开</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ToParty" type="dn:JuelConfigItem" minOccurs="0">
        <xs:annotation>
          <xs:documentation>发送部门，多个部门中间用,隔开</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TextMessage">
    <xs:annotation>
      <xs:documentation>文本消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:BaseMessageType">
          <xs:sequence>
            <xs:element name="Text" type="dn:JuelConfigItem">
              <xs:annotation>
                <xs:documentation>消息内容</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkMessage">
    <xs:annotation>
      <xs:documentation>链接消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:BaseMessageType">
          <xs:sequence>
            <xs:element name="MessageUrl" type="dn:JuelConfigItem">
              <xs:annotation>
                <xs:documentation>消息点击链接地址</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Image" type="dn:dn__dn_FileType">
              <xs:annotation>
                <xs:documentation>图片存储位置</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Title" type="dn:JuelConfigItem">
              <xs:annotation>
                <xs:documentation>消息标题</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Text" type="dn:JuelConfigItem">
              <xs:annotation>
                <xs:documentation>消息描述</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dn__dn_FileType">
    <xs:complexContent>
      <xs:extension base="dn:JuelConfigItem">
        <xs:attribute name="Position" type="dn:FilePosition">
          <xs:annotation>
            <xs:documentation>文件存储相对歧视位置，默认为Xml</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageMessage">
    <xs:annotation>
      <xs:documentation>图片消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:BaseMessageType">
          <xs:sequence>
            <xs:element name="Image" type="dn:dn__dn_FileType">
              <xs:annotation>
                <xs:documentation>图片存储位置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileMessage">
    <xs:annotation>
      <xs:documentation>文件消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:BaseMessageType">
          <xs:sequence>
            <xs:element name="File" type="dn:dn__dn_FileType">
              <xs:annotation>
                <xs:documentation>文件存储位置</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="OAMessage">
    <xs:annotation>
      <xs:documentation>OA消息</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:BaseMessageType">
          <xs:sequence>
            <xs:element name="MessageUrl" type="dn:JuelConfigItem">
              <xs:annotation>
                <xs:documentation>客户端点击消息时跳转到的地址</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PcMessageUrl" type="dn:JuelConfigItem" minOccurs="0">
              <xs:annotation>
                <xs:documentation>PC端点击消息时跳转到的地址</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Head">
              <xs:annotation>
                <xs:documentation>消息头部内容</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="BgColor" type="dn:JuelConfigItem">
                    <xs:annotation>
                      <xs:documentation>消息头部的背景颜色。长度限制为8个英文字符，其中前2为表示透明度，后6位表示颜色值。不要添加0x</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <!-- 微应用oa消息并该项无作用 <xs:element name="Text" type="dn:JuelConfigItem">
                    <xs:annotation>
                      <xs:documentation>消息的头部标题，长度限制为最多10个字符</xs:documentation>
                    </xs:annotation>
                  </xs:element>-->
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Body">
              <xs:annotation>
                <xs:documentation>消息体</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Title" type="dn:JuelConfigItem" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>消息体的标题</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Form" minOccurs="0" maxOccurs="6">
                    <xs:annotation>
                      <xs:documentation>消息体的表单，最多显示6个</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Key" type="dn:JuelConfigItem">
                          <xs:annotation>
                            <xs:documentation>消息体的关键字</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="Value" type="dn:JuelConfigItem">
                          <xs:annotation>
                            <xs:documentation>消息体的关键字对应的值</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Rich" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>单行富文本信息</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Num" type="dn:JuelConfigItem">
                          <xs:annotation>
                            <xs:documentation>单行富文本信息的数目</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="Unit" type="dn:JuelConfigItem">
                          <xs:annotation>
                            <xs:documentation>单行富文本信息的单位</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Content" type="dn:JuelConfigItem" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>消息体的内容，最多显示3行</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Image" type="dn:dn__dn_FileType" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>消息体中的图片</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="FileCount" type="dn:JuelConfigItem" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>自定义的附件数目。此数字仅供显示</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Author" type="dn:JuelConfigItem" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>自定义的作者名字</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
