Doc/schema/v1/SubItems/FreeMarkerPageMaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="PageMakerCommon.xsd"/>
  <xs:include schemaLocation="PageData.xsd"/>
  <xs:simpleType name="dn_dn_MarkerTemplate">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="NormalList"/>
      <xs:enumeration value="NormalEdit"/>
      <xs:enumeration value="NormalDetail"/>
      <xs:enumeration value="NormalStatList"/>
      <xs:enumeration value="MobileList"/>
      <xs:enumeration value="MobileEdit"/>
      <xs:enumeration value="MobileDetail"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MarkerTemplateType">
    <xs:union memberTypes="xs:Name dn:dn_dn_MarkerTemplate"/>
  </xs:simpleType>
  <xs:complexType name="dn__dn_BaseMarkerPageMakerType">
    <xs:complexContent>
      <xs:extension base="dn:dn__dn_BaseMarkerElement">
        <xs:sequence>
          <xs:element name="RetUrl" minOccurs="0">
            <xs:annotation>
              <xs:documentation>配置默认的返回地址，即返回按钮的地址</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="CustomUrl" type="dn:JuelConfigItem" minOccurs="0">
                  <xs:annotation>
                    <xs:documentation>当Style为Custom时，这里定义要返回的链接地址</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Style" type="dn:PageStyleType" use="required">
                <xs:annotation>
                  <xs:documentation>需要返回的页面Style，如果Style设置为Custom，就必须填写CustomUrl节点，其他Style则不需要</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="UseRetUrlFirst" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>如果为true，且Url中的RetUrl有配置，将会将RetUrl的值作为返回地址，这里将无视Style的配置。如果Url无RetUrl配置，则根据Style的配置来。默认为False</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MarkerPageMakerType">
    <xs:complexContent>
      <xs:extension base="dn:dn__dn_BaseMarkerPageMakerType">
        <xs:attribute name="Template" type="dn:MarkerTemplateType" use="required">
          <xs:annotation>
            <xs:documentation>Marker基准模板，使用MarkerTemplateAttribute注册的注册名</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dn__dn_BaseMarkerElement">
    <xs:sequence>
      <xs:element name="PageData" type="dn:PageDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Marker中附加的数据，可以对界面进行各种微调整</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Script" type="dn:UserScriptType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>配置自定义的css以及js文件</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateMarkerPageMaker" type="dn:MarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>使用Marker引擎，通过预定义的Marker模板，模板对应的PageData以及元数据，再辅以重载Marker文件合成Html输出</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PostTemplateMarkerPageMaker">
    <xs:annotation>
      <xs:documentation>在Get时使用TemplateMarkerPageMaker输出Html，在Post时使用PostPageMaker输出Json或者Xml</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MarkerPageMakerType">
          <xs:group ref="dn:PostElementGroup"/>
          <xs:attributeGroup ref="dn:PostAttrGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeMarkerPageMaker">
    <xs:annotation>
      <xs:documentation>使用Marker引擎，但是没有Marker模板，以纯粹的Marker文件生成Html输出</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PageData" type="dn:PageDataType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Marker中附加的数据，可以对界面进行各种微调整</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="FreeMarkerFile" type="xs:anyURI" use="required">
        <xs:annotation>
          <xs:documentation>Marker文件名，需要包含相对路径</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>单表新建，修改，删除等综合的TemplateMarkerPageMaker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleDialogTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>单表新建，修改，删除等综合的TemplateMarkerPageMaker，新建修改等操作为Dialog界面</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleStatTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>单表新建，修改，删除等综合的TemplateMarkerPageMaker，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleStatDialogTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>单表新建，修改，删除等综合的TemplateMarkerPageMaker，新建修改等操作为Dialog界面，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleMobileTemplateMarkerPageMaker" type="dn:SingleMobileTemplateMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>基于手机的单表新建，修改，删除等综合的TemplateMarkerPageMaker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleMobileStatTemplateMarkerPageMaker" type="dn:SingleMobileTemplateMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>基于手机的单表新建，修改，删除等综合的TemplateMarkerPageMaker，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SingleMarkerPageMakerType">
    <xs:complexContent>
      <xs:extension base="dn:CompositeMarkerPageMakerType"/>
      <!--<xs:attribute name="ListDisplay" type="dn:TableDisplayType" default="Striped"/>-->
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CompositeMarkerPageMakerType">
    <xs:sequence>
      <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="dn:dn__dn_BaseMarkerPageMakerType">
              <xs:group ref="dn:PostElementGroup"/>
              <xs:attributeGroup ref="dn:PostAttrGroup"/>
              <xs:attribute name="Style" type="dn:PageStyleIntf" use="required">
                <xs:annotation>
                  <xs:documentation>需要重载的页面类型</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="Template" type="dn:MarkerTemplateType">
                <xs:annotation>
                  <xs:documentation>Marker基准模板，使用MarkerTemplateAttribute注册的注册名</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="UseDefaultConfig" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>当其true时即使配置了Item此节点，也优先使用默认的配置，这就意味着，即使某些节点配置了，也可能导致无效。默认值为false</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="PageDisplayMode">
                <xs:annotation>
                  <xs:documentation>页面展示形态，当前有workflow，工作流模式，在DisableRetUrl为1时仅禁用返回按钮，不禁用保存后跳转</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKENS">
                    <xs:enumeration value="Workflow"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionMarkerPageMaker" type="dn:EmptyType">
    <xs:annotation>
      <xs:documentation>使用BootCss\Bin\Exception.cshtml输出Get的错误，发送文件Id输出Post的错误的PageMaker(Exception专用)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SingleTreeMarkerPageMakerType">
    <xs:complexContent>
      <xs:extension base="dn:CompositeMarkerPageMakerType">
        <xs:attributeGroup ref="dn:TreeDataAttrGrp"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleTreeTemplateMarkerPageMaker" type="dn:SingleTreeMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>单表新建，修改，删除等综合的TreeTemplateMarkerPageMaker，新建修改等操作为普通界面</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleDetailListTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>表新建，修改，删除，列表为单表模式。Detail为多表模式的TemplateMarkerPageMaker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MasterDetailTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>主从表新建，修改，删除等综合的TemplateMarkerPageMaker(适用于其他多表模型)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MultipleStatTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>多表新建，修改，删除等综合的TemplateMarkerPageMaker，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleDetailListStatTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>表新建，修改，删除，列表为单表模式。Detail为多表模式的TemplateMarkerPageMaker，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleDetailListDialogTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>表新建，修改，删除，列表为单表模式。Detail为多表模式的TemplateMarkerPageMaker，新建修改等操作为Dialog界面</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SingleDetailListStatDialogTemplateMarkerPageMaker" type="dn:SingleMarkerPageMakerType">
    <xs:annotation>
      <xs:documentation>表新建，修改，删除，列表为单表模式。Detail为多表模式的TemplateMarkerPageMaker，新建修改等操作为Dialog界面，列表采用统计列表展示</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SingleMobileTemplateMarkerPageMakerType">
    <xs:complexContent>
      <xs:extension base="dn:SingleMarkerPageMakerType">
        <xs:sequence>
          <xs:element name="RowDisplay" type="dn:MarkerOutputDataType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
