Doc/schema/v1/SubItems/MetaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Chen Jiangyong (DataNew) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="DataXmlCommon.xsd"/>
  <xs:include schemaLocation="Common.xsd"/>
  <xs:include schemaLocation="Scheme.xsd"/>
  <xs:include schemaLocation="MetaDataCommon.xsd"/>
  <xs:include schemaLocation="DataNewMetaData.xsd"/>
  <xs:complexType name="MetaDataType">
    <xs:group ref="dn:MetaDataGroup"/>
  </xs:complexType>
  <xs:group name="MetaDataGroup">
    <xs:choice>
      <xs:element ref="dn:SingleXmlMetaData"/>
      <xs:element ref="dn:CompositeMetaData"/>
      <xs:element name="NoMetaData" type="dn:EmptyType">
        <xs:annotation>
          <xs:documentation>没有MetaData</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="dn:SingleKnXmlMetaData"/>
      <xs:element ref="dn:SingleKnVolumeXmlMetaData"/>
      <xs:element ref="dn:MasterDetailMetaData"/>
      <!--<xs:element ref="dn:DetailMetaData"/>
      <xs:element ref="dn:SingleClassMetaData"/>
      <xs:element ref="dn:StdCodeTableMetaData"/>
      <xs:element ref="dn:DbSingleCustomTable"/>
      <xs:element ref="dn:MultipleMDMetaData"/>
      <xs:element ref="dn:QueryMetaData"/>
      <xs:element ref="dn:SingleDetailListMetaData"/>-->
      <xs:element ref="dn:SingleDetailListMetaData"/>
      <xs:element ref="dn:MasterMultiDetailMetaData"/>
      <xs:element ref="dn:SingleSchemaMetaData"/>
      <xs:element name="MultipleMetaData">
        <xs:annotation>
          <xs:documentation>多表的MetaData</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Master" type="dn:MasterMetaDataType">
              <xs:annotation>
                <xs:documentation>主表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtoOTable" type="dn:MasterMetaDataType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>一对一表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OtoMTable" type="dn:DetailMetaDataType" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>一对多表的MetaData</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##local" processContents="lax"/>
      <xs:element name="UnionMetaData">
        <xs:annotation>
          <xs:documentation>将主表和扩展表关联的MetaData</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Master" type="dn:SingleMetaDataType">
              <xs:annotation>
                <xs:documentation>主表</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Detail" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>与主表相关联的扩展表</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="dn:SingleMetaDataType">
                    <xs:attribute name="UnionKeyNickName" type="xs:Name">
                      <xs:annotation>
                        <xs:documentation>和主表关联的字段的昵称，如果不填，会认为是主键关联</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CombineMetaData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Master" type="dn:SingleMetaDataType"/>
            <xs:element name="Extend" maxOccurs="unbounded">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="dn:SingleMetaDataType"/>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="TableName" type="xs:Name" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:group name="SingleMetaDataGroup">
    <xs:choice>
      <xs:element ref="dn:SingleXmlMetaData"/>
      <xs:element ref="dn:SingleKnXmlMetaData"/>
      <xs:element ref="dn:SingleSchemaMetaData"/>
      <xs:any namespace="##local" processContents="lax"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SingleMetaDataType">
    <xs:group ref="dn:SingleMetaDataGroup"/>
  </xs:complexType>
  <xs:complexType name="MasterMetaDataType">
    <xs:complexContent>
      <xs:extension base="dn:SingleMetaDataType">
        <xs:attribute name="ListStyle" use="required">
          <xs:annotation>
            <xs:documentation>主表显示的风格</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="None"/>
              <xs:enumeration value="Card"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DetailMetaDataType">
    <xs:complexContent>
      <xs:extension base="dn:SingleMetaDataType">
        <xs:attributeGroup ref="dn:MultipleAttrGroup"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SingleXmlMetaData">
    <xs:annotation>
      <xs:documentation>基于Tk5的DataXml的单表MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MetaOverrideType">
          <xs:attribute name="DataXml" type="xs:anyURI" use="required">
            <xs:annotation>
              <xs:documentation>引用的DataXml，以Xml\Data为起始路径</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="dn:MetaAttrGroup"/>
          <xs:attribute name="DisableAutoDetailLink" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>禁止产生自动链接到Detail的链接，默认为False</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleClassMetaData">
    <xs:annotation>
      <xs:documentation>标记了TypeSchemeAttribute类型的单表MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MetaOverrideType">
          <xs:attribute name="ClassRegName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>用TypeSchemeAttribute标记的类型的注册名</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="dn:MetaAttrGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompositeMetaData">
    <xs:annotation>
      <xs:documentation>根据具体条件来选择相应配置的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>单个项</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Condition" type="dn:NormalConditionType">
                <xs:annotation>
                  <xs:documentation>条件</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:group ref="dn:MetaDataGroup">
                <xs:annotation>
                  <xs:documentation>适配条件后，使用对应的MetaData</xs:documentation>
                </xs:annotation>
              </xs:group>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StdCodeTableMetaData">
    <xs:annotation>
      <xs:documentation>标准代码表的单表MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="TableName" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>当UseQueryString为false时，配置为表名，通常以CD_开始。当UseQueryString为true时，配置为QueryString的Name。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowCodeValue" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示代码字段，默认为false，即不编辑代码字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowSort" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示排序字段，默认为false，即不编辑排序字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ShowPy" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否显示拼音字段，默认为false，即不在新建页面显示该字段</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="PyCaption" type="xs:string">
        <xs:annotation>
          <xs:documentation>拼音的标题</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="UseQueryString" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>表名是根据配置还是读取自QueryString的开关，默认为false。</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailMetaData" type="dn:DetailMetaDataType">
    <xs:annotation>
      <xs:documentation>支持单表多记录编辑的单表MetaData</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MasterDetailMetaData">
    <xs:annotation>
      <xs:documentation>主从表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" type="dn:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="dn:DetailMetaDataType">
          <xs:annotation>
            <xs:documentation>从表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DbSingleCustomTable">
    <xs:annotation>
      <xs:documentation>通过SYS_CUSTOM_TABLE表的定义获取的单表MetaData，该配置只有包含了YJC.Toolkit.SysFunction.dll才有效</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="dn:dn__tk_ContextGroup"/>
      <xs:attribute name="TableName" type="xs:Name" use="required">
        <xs:annotation>
          <xs:documentation>在SYS_CUSTOM_TABLE中CT_TABLE_NAME的表名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnCount" type="dn:dn__ColumnCountType">
        <xs:annotation>
          <xs:documentation>一行几列的数目，范围在1..5之间。默认为3</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="MasterMultiDetailMetaData">
    <xs:annotation>
      <xs:documentation>单主表多从表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" type="dn:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="dn:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipleMDMetaData">
    <xs:annotation>
      <xs:documentation>多主表多从表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Master" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>主表</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="dn:SingleMetaDataType">
                <xs:attribute name="Main" type="xs:boolean">
                  <xs:annotation>
                    <xs:documentation>只有一个是可以设置为True，标志其为最主要的表。当只有一个时，无论是否设置都无所谓。当有多个时，有且仅有一个是True。不填默认为false</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Detail" type="dn:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryMetaData">
    <xs:annotation>
      <xs:documentation>根据条件输出查询结果的MetaData，即在Get时，输出Condition的MetaData，Post时输出Result的MetaData。无论当前页面的Style是什么，结果都是List的页面的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Condition">
          <xs:annotation>
            <xs:documentation>查询条件的MetaData，只有配置Search=true的Field才会出现在查询项目上</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="dn:SingleMetaDataGroup"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Result">
          <xs:annotation>
            <xs:documentation>查询结果的MetaData</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="dn:SingleMetaDataGroup"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleDetailListMetaData">
    <xs:annotation>
      <xs:documentation>在编辑和列表时，使用主表的MetaData，在详细页使用主从配置的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Main" type="dn:SingleMetaDataType">
          <xs:annotation>
            <xs:documentation>主表的MetaData</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Detail" type="dn:DetailMetaDataType" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>从表的MetaData，在Detail和DetailList中使用</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--  <xs:element name="SingleDbMetaData">
    <xs:annotation>
      <xs:documentation>从数据表中获取单表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MetaOverrideType">
          <xs:attribute name="Context" type="xs:Name">
            <xs:annotation>
              <xs:documentation>数据库连接的名字，默认名称为Schema，如果没有配置，则默认数据库连接</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="Key" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>在表中的主键值</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="dn:MetaAttrGroup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
-->
  <xs:element name="SingleSchemaMetaData">
    <xs:annotation>
      <xs:documentation>从scheme中获取基本数据，形成单表的MetaData</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MetaOverrideType">
          <xs:sequence>
            <xs:element name="Scheme" type="dn:TableSchemeExType"/>
          </xs:sequence>
          <xs:attributeGroup ref="dn:MetaAttrGroup"/>
          <xs:attribute name="DisableAutoDetailLink" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>禁止产生自动链接到Detail的链接，默认为False</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
