Doc/schema/v1/SubItems/PageMaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Chen Jiangyong (DataNew) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="PageMakerCommon.xsd"/>
  <xs:include schemaLocation="FreeMarkerPageMaker.xsd"/>
  <xs:complexType name="dn_tk_ObjectMakerType">
    <xs:attribute name="GZip" type="dn:ConfigType"/>
    <xs:attribute name="Encrypt" type="dn:ConfigType"/>
  </xs:complexType>
  <xs:element name="JsonPageMaker">
    <xs:annotation>
      <xs:documentation>将结果输出为Json（DataSet，String，DataNew对象）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:dn_tk_ObjectMakerType">
          <xs:sequence>
            <xs:element ref="dn:WriteSettings" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="ModelName" type="xs:Name"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="JsonpPageMaker">
    <xs:annotation>
      <xs:documentation>将结果输出为Jsonp，允许跨域访问（DataSet，String，DataNew对象）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dn:WriteSettings" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="ModelName" type="xs:Name"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SourceOutputPageMaker">
    <xs:annotation>
      <xs:documentation>将内容直接输出（只支持String模式）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ContentType" type="xs:token">
        <xs:annotation>
          <xs:documentation>输出内容的格式，默认为text/html</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Encoding" type="xs:token">
        <xs:annotation>
          <xs:documentation>输出的Encoding，默认为utf-8</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebFilePageMaker">
    <xs:annotation>
      <xs:documentation>将内容用文件的格式输出（输出结果必须为FileContent类型）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="Disposition">
        <xs:annotation>
          <xs:documentation>文件输出的格式，默认为Attachment</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Attachment"/>
            <xs:enumeration value="Inline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="XmlPageMaker">
    <xs:annotation>
      <xs:documentation>将DataSet或者类DataSet的Xml输出为Xml（DataSet，String，DataNew对象）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:dn_tk_ObjectMakerType">
          <xs:sequence>
            <xs:element ref="dn:WriteSettings" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="Root" type="xs:string">
            <xs:annotation>
              <xs:documentation>根节点，当OutputType为ToolkitObject有效</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ModelName" type="xs:Name"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegPageMaker" type="xs:Name">
    <xs:annotation>
      <xs:documentation>根据配置的注册名实例化PageMaker</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SimpleXsltPageMaker">
    <xs:annotation>
      <xs:documentation>将结果进行xslt转换后再输出（DataSet，XmlReader，String，Toolkit对象）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="UseXsltArgs" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否使用Xslt全局参数，默认为False。如果为True，将输出IsPost参数，同时开放MetaData的输入</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ContentType" type="xs:token">
        <xs:annotation>
          <xs:documentation>输出内容的格式，默认为text/html</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Encoding" type="xs:Name">
        <xs:annotation>
          <xs:documentation>输出内容的编码，默认为utf-8</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="XsltFile" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Xslt文件名，需要包含相对路径</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Position" type="dn:FilePosition">
        <xs:annotation>
          <xs:documentation>文件相对位置，默认为Xml</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompositePageMaker">
    <xs:annotation>
      <xs:documentation>根据具体条件来选择相应配置的PageMaker</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Item" type="dn:CompositePageMakerItemType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompositePageMakerItemType">
    <xs:sequence>
      <xs:element ref="dn:Condition"/>
      <xs:group ref="dn:SimplePageMakerGroup"/>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="SimplePageMakerGroup">
    <xs:choice>
      <xs:element ref="dn:XmlPageMaker"/>
      <xs:element ref="dn:JsonPageMaker"/>
      <xs:element ref="dn:SourceOutputPageMaker"/>
      <!--<xs:element ref="dn:SimpleXsltPageMaker"/>-->
      <xs:element ref="dn:JsonpPageMaker"/>
      <xs:element ref="dn:WebFilePageMaker"/>
      <xs:element ref="dn:RegPageMaker"/>
      <!--<xs:element ref="dn:FilePageMaker"/>-->
      <xs:element ref="dn:CompositePageMaker"/>
      <xs:element ref="dn:MetaDataPageMaker"/>
      <xs:element ref="dn:PostPageMaker"/>
      <xs:element ref="dn:JuelPageMaker"/>
      <!--
      <xs:element ref="dn:WebSourceXsltPageMaker"/>
      <xs:element ref="dn:TreePostPageMaker"/>
      <xs:element ref="dn:ExportExcelPageMaker"/>-->
      <xs:element ref="dn:TemplateMarkerPageMaker"/>
      <xs:element ref="dn:FreeMarkerPageMaker"/>
      <xs:element ref="dn:PostTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleMobileTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleDialogTemplateMarkerPageMaker"/>
      <xs:element ref="dn:ClientRoutePageMaker"/>
      <xs:element ref="dn:ExceptionMarkerPageMaker"/>
      <xs:element ref="dn:SingleStatTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleStatDialogTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleDetailListTemplateMarkerPageMaker"/>
      <xs:element ref="dn:MasterDetailTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleTreeTemplateMarkerPageMaker"/>
      <xs:element ref="dn:MultipleStatTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleDetailListDialogTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleDetailListStatTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleDetailListStatDialogTemplateMarkerPageMaker"/>
      <xs:element ref="dn:SingleMobileStatTemplateMarkerPageMaker"/>
      <xs:any namespace="##local" processContents="lax" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SimplePageMakerType">
    <xs:annotation>
      <xs:documentation>该类型为动态节点，可根据配置工厂实际情况，自由调整</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:group ref="dn:SimplePageMakerGroup"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PageMakerType">
    <xs:group ref="dn:SimplePageMakerGroup"/>
  </xs:complexType>
  <xs:element name="WriteSettings" type="dn:WriteSettingsType">
    <xs:annotation>
      <xs:documentation>Xml输出参数，当OutputType为DataNewObject有效</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MetaDataPageMaker">
    <xs:annotation>
      <xs:documentation>如果配置了MetaData，将以Xml或Json的方式显示MetaData的内容</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="DataType" type="dn:OutputDataType">
        <xs:annotation>
          <xs:documentation>返回的数据格式，默认为Xml</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSourceXsltPageMaker">
    <xs:annotation>
      <xs:documentation>Get下使用XsltPageMaker，而Post下使用JsonObjectPageMaker</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="UseXsltArgs" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否使用Xslt全局参数，默认为False。如果为True，将输出IsPost参数，同时开放MetaData的输入</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="XsltFile" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Xslt文件名，需要包含相对路径</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Condition" type="dn:OutputConditionType"/>
  <xs:element name="PostPageMaker" type="dn:PostPageMakerType">
    <xs:annotation>
      <xs:documentation>专门处理数据提交的PageMaker。当结果数据为KeyData时，根据配置得到返回地址。如果是错误信息直接输出。</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TreePostPageMaker" type="dn:PostPageMakerType">
    <xs:annotation>
      <xs:documentation>针对Tree结构，类似于PostPageMaker，但返回地址针对Tree结构进行了优化</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FilePageMaker">
    <xs:annotation>
      <xs:documentation>直接将配置的文件内容输出的PageMaker</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="FileName" type="xs:anyURI" use="required">
        <xs:annotation>
          <xs:documentation> 文件名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Position" type="dn:FilePosition">
        <xs:annotation>
          <xs:documentation>文件相对位置，默认为Xml</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ContentType" type="xs:string">
        <xs:annotation>
          <xs:documentation>输出的ContentType，默认为text/html</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="FileEncoding" type="xs:token">
        <xs:annotation>
          <xs:documentation>文件的Encoding，默认为utf-8</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Encoding" type="xs:token">
        <xs:annotation>
          <xs:documentation>输出的Encoding，默认为utf-8</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="JuelPageMaker">
    <xs:annotation>
      <xs:documentation>将定义的宏文本输出的PageMaker</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:JuelConfigItem">
          <xs:attribute name="Encoding" type="xs:token">
            <xs:annotation>
              <xs:documentation>输出的Encoding，默认为utf-8</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ContentType" type="xs:string">
            <xs:annotation>
              <xs:documentation>输出的ContentType，默认为text/html</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dn__ExcelContentType">
    <xs:attribute name="FontName" type="xs:string">
      <xs:annotation>
        <xs:documentation>默认的字体，如果不配置，字体名称为"宋体"</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FontSize" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>默认的字号，如果不配置，默认为10</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="FontBold" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>默认是否为粗体。如果不配置，表头默认为True，内容默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Align" type="dn:AlignType">
      <xs:annotation>
        <xs:documentation>默认的对其方式，如果不配置，表头默认为Center，内容默认为Right</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PostPageMakerType">
    <xs:group ref="dn:PostElementGroup"/>
    <xs:attributeGroup ref="dn:PostAttrGroup"/>
  </xs:complexType>
  <xs:element name="ExportExcelPageMaker">
    <xs:annotation>
      <xs:documentation>将结果内容输出成Excel格式的文件（DataSet，ObjectListModel对象）</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header" type="dn:dn__ExcelContentType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>表头的参数配置</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Content" type="dn:dn__ExcelContentType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>内容的参数配置</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UseBorder" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>是否包含边框，默认为True</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRoutePageMaker">
    <xs:annotation>
      <xs:documentation>根据客户端的类型进行路由，采用匹配的PageMaker输出界面</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PC">
          <xs:annotation>
            <xs:documentation>PC端使用的PageMaker</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="dn:SimplePageMakerGroup"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Mobile" minOccurs="0">
          <xs:annotation>
            <xs:documentation>手机端使用的PageMaker，如果不配置，将使用PC端配置</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="dn:SimplePageMakerGroup"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Pad" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Pad端使用的PageMaker，如果不配置，将使用Mobile端的配置</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:group ref="dn:SimplePageMakerGroup"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
