Doc/schema/v1/SubItems/PageData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dn="http://www.datanew.com" targetNamespace="http://www.datanew.com" elementFormDefault="qualified">
  <xs:include schemaLocation="../../bin/CommonType.xsd"/>
  <xs:include schemaLocation="Display.xsd"/>
  <xs:complexType name="PageDataType">
    <xs:choice>
      <xs:element ref="dn:NormalDetailData"/>
      <xs:element ref="dn:NormalEditData"/>
      <xs:element ref="dn:NormalListData"/>
      <xs:element ref="dn:MobileEditData"/>
      <xs:element ref="dn:MobileDetailData"/>
      <xs:element ref="dn:MobileListData"/>
      <xs:element ref="dn:NormalStatListData"/>
      <xs:element ref="dn:MobileStatListData"/>
      <xs:element ref="dn:NormalTreeData"/>
      <xs:element ref="dn:NormalMultiEditData"/>
      <xs:element ref="dn:NormalMultiDetailData"/>
      <xs:any namespace="##local" processContents="lax"/>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="TreeDataAttrGrp">
    <xs:attribute name="ShowNewRootButton" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否显示新建根节点的按钮，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!--<xs:attribute name="IsNewRootDialog" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>新建根节点的时候，是否采用Dialog的方式新建，默认为true</xs:documentation>
      </xs:annotation>
    </xs:attribute>-->
    <xs:attribute name="ShowUpDownButton" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否显示上移，下移的按钮，默认为True</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!--<xs:attribute name="CanMoveNode" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否可以拖动节点，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="UseWholeRow" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>是否选中整行，默认为False</xs:documentation>
      </xs:annotation>
    </xs:attribute>-->
    <xs:attribute name="DefaultNewChildCaption" type="xs:string">
      <xs:annotation>
        <xs:documentation>新建子节点的文字，默认为“新建节点”</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DefaultNewRootCaption" type="xs:string">
      <xs:annotation>
        <xs:documentation>新建根节点的文字，默认为“新建节点”</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="InsertQueryConAttrGrp">
    <xs:attribute name="AutoInsertQueryCondition" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>自动将查询条件设置的值作为新建记录的缺省值，默认为false。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="CollapseAttrGrp">
    <xs:attribute name="CollapseLast" type="xs:boolean" default="false">
      <xs:annotation>
        <xs:documentation>是否将后面不重要的字段折叠隐藏的开关。默认为false。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CollapseBaseOrder" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>基准的Order，当字段配置的Order大于此值时，将被折叠隐藏，该值如果为0，即使CollapseLast设置为true，也无效。</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:simpleType name="OperatorPositionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Left"/>
      <xs:enumeration value="Right"/>
      <xs:enumeration value="None"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DataDirectionType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Foot"/>
      <xs:enumeration value="Head"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TabDisplayType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Pill"/>
      <xs:enumeration value="NormalJustified"/>
      <xs:enumeration value="PillJustified"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SearchDataMethod">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Like"/>
      <xs:enumeration value="Exactly"/>
      <xs:enumeration value="CheckBoxLike"/>
      <xs:enumeration value="CheckBoxExactly"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TableDisplayType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:documentation>普通表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Striped">
        <xs:annotation>
          <xs:documentation>条纹状表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bordered">
        <xs:annotation>
          <xs:documentation>带边框的表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hover">
        <xs:annotation>
          <xs:documentation>鼠标悬停</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Condensed">
        <xs:annotation>
          <xs:documentation>紧缩表格</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MarkerContentType">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="TemplateFile"/>
      <xs:enumeration value="Text"/>
      <xs:enumeration value="StaticText"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MarkerOutputDataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ContentType" type="dn:MarkerContentType" use="required">
          <xs:annotation>
            <xs:documentation>输出内容的方式。Text使用定义的内容作为FreeMarker模板输出内容。TemplateFile使用指定的ftl文件作为FreeMarker模板输出内容。StaticText直接输出定义的文本</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="FreeMarkerField">
    <xs:annotation>
      <xs:documentation>定义重载的字段。如果定义，按照定义的方式进行输出。否则按照默认的方式输出</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MarkerOutputDataType">
          <xs:attribute name="NickName" type="xs:Name" use="required">
            <xs:annotation>
              <xs:documentation>重载的字段昵称</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BasePageDataType">
    <xs:sequence>
      <xs:element name="Header" type="dn:MarkerOutputDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>重定义页头显示的内容</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Main" type="dn:MarkerOutputDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>重定义主区域显示的内容，此处一旦配置意味着页面的主体将由此配置生成，默认将不在有效</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Footer" type="dn:MarkerOutputDataType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>定义页脚显示的内容</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="dn:FreeMarkerField" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalListData" type="dn:NormalListDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalList模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="NormalEditData" type="dn:NormalEditDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalEdit模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MobileEditData">
    <xs:annotation>
      <xs:documentation>匹配MobileEdit模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MobileEditDataType">
          <xs:attribute name="DisableRetUrl">
            <xs:annotation>
              <xs:documentation>取消返回按钮</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalDetailData" type="dn:NormalDetailDataType">
    <xs:annotation>
      <xs:documentation>匹配NormalDetail模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MobileEditDataType">
    <xs:complexContent>
      <xs:extension base="dn:BasePageDataType">
        <xs:sequence>
          <xs:element ref="dn:Buttons" minOccurs="0"/>
          <xs:element ref="dn:ControlGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="SaveButtonCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>保存按钮的标题，默认为“保存”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FormAction" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>Form提交的地址，默认为“.”，即当前地址</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="InsertFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>Insert页面的Title模板，默认为"新建%s"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EditFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>Update页面的Title模板，默认为"修改%s"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="dn:CollapseAttrGrp"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NormalEditDataType">
    <xs:complexContent>
      <xs:extension base="dn:MobileEditDataType">
        <xs:attribute name="DialogMode" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>标记是否采用Dialog模式打开，默认为False</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NormalCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在页面模式下，返回按钮的标题，默认为“返回”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在对话框模式下，返回按钮的标题，默认为“关闭”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ContainerType">
          <xs:annotation>
            <xs:documentation>整个布局使用container或者container-fluid，默认是Fluid</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="Fluid"/>
              <xs:enumeration value="Container"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RowDisplay" type="dn:MarkerOutputDataType">
    <xs:annotation>
      <xs:documentation>定义重载整个列的显示。此处重载后，字段重载将不再有效</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Buttons" type="dn:MarkerOutputDataType">
    <xs:annotation>
      <xs:documentation>重定义Button区域的内容，如果定义，默认按钮将不生成，以此内容输出为准</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MobileDetailDataType">
    <xs:complexContent>
      <xs:extension base="dn:BasePageDataType">
        <xs:attribute name="TitleFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>页面的Title模板，默认为"查看%s"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IgnoreEmptyField" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>不显示值为空的字段，默认为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MobileDetailData">
    <xs:annotation>
      <xs:documentation>匹配MobileDetail模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MobileDetailDataType">
          <xs:sequence>
            <xs:element name="Image" type="dn:MarkerOutputDataType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>重定义Image的显示内容，如果定义，自动显示Image的功能将失效</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="dn:ControlGroup" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="ShowImage" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>如果设置为true，表中有UploadImageDisplay的字段，将指定在Image区域显示。默认值为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="dn:CollapseAttrGrp"/>
          <xs:attribute name="DisableRetUrl">
            <xs:annotation>
              <xs:documentation>取消返回按钮</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileListData" type="dn:MobileListDataType">
    <xs:annotation>
      <xs:documentation>匹配MobileList模板使用的数据</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MobileStatListData">
    <xs:annotation>
      <xs:documentation>匹配MobileStatList模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:MobileListDataType">
          <xs:attribute name="AutoQuery" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>首次进入页面的时候，自动调用查询功能，默认为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attributeGroup ref="dn:InsertQueryConAttrGrp"/>
          <xs:attribute name="ShowQueryPanel">
            <xs:annotation>
              <xs:documentation>显示查询按钮，默认true，显示，当为false时，AutoQuery自动开启</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NormalListDataType">
    <xs:complexContent>
      <xs:extension base="dn:BasePageDataType">
        <xs:sequence>
          <xs:element name="Query" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重定义查询区域的显示内容</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TabSheet" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重定义Tab分页区域的显示内容</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListWidth" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重定义列表每列宽度的显示内容</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ListHeader" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>重定义列表表头的显示内容</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="dn:RowDisplay" minOccurs="0"/>
          <xs:element name="RowOperator" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>定义重载行操作符的显示。</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RowOperatorStyle" minOccurs="0">
            <xs:annotation>
              <xs:documentation>定义列表操作符显示的风格</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="Style">
                <xs:annotation>
                  <xs:documentation>操作显示的样式。默认为Tile平铺。Menu将所有操作置于下拉菜单下。Mixture将一部分操作平铺，剩下的置于菜单下</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:NMTOKEN">
                    <xs:enumeration value="Tile"/>
                    <xs:enumeration value="Menu"/>
                    <xs:enumeration value="Mixture"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="MenuCaption" type="xs:string">
                <xs:annotation>
                  <xs:documentation>配置Menu或者Mixture时，菜单显示的标题名称。默认为”操作"</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="FixOperatorIds">
                <xs:annotation>
                  <xs:documentation>选择Mixture时，需要平铺的操作Id，多个Operator时中间用空格隔开。默认为Update Delete</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:list itemType="xs:Name"/>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="dn:InsertQueryConAttrGrp"/>
        <xs:attribute name="NoDataCaption" type="xs:string" default="无数据">
          <xs:annotation>
            <xs:documentation>没有数据时的显示。默认为"无数据"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperationCaption" type="xs:string" default="操作">
          <xs:annotation>
            <xs:documentation>操作的标题，默认为"操作"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowListHeader" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示表头，默认为True</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperatorPosition" type="dn:OperatorPositionType">
          <xs:annotation>
            <xs:documentation>是否显示操作栏，默认为Left</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="OperatorWidth" type="xs:unsignedInt" default="100">
          <xs:annotation>
            <xs:documentation>操作栏的宽度，默认长度为100像素点</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SearchCheckBox" type="dn:SearchDataMethod">
          <xs:annotation>
            <xs:documentation>查询时，是否显示“精确"的CheckBox，以及其初始值设定。默认不显示Checkbox以Like的方式查询</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowHintInHead" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>是否在表头上显示Hint（如果配置了Hint），默认为false</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TitleFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>页面的Title模板，默认为"浏览%s"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowMultiDelete" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>显示多删按钮，默认为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowPage" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示分页栏，默认为True</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalStatListData">
    <xs:annotation>
      <xs:documentation>匹配DbStatListSource对应模板使用的数据。ShowMultiDelete默认改为false。OperatorPosition默认值改为None</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:NormalListDataType">
          <xs:sequence>
            <xs:element name="FieldDisplay" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>如果某个字段配置的Display对象和合计/小计不同，可以在此重载</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:group ref="dn:DisplayGroup"/>
                <xs:attribute name="NickName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>字段昵称</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="SubTotalCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>小计的标题，默认为“小计”</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="SubTotalPosition" type="dn:DataDirectionType">
            <xs:annotation>
              <xs:documentation>小计的位置，默认为Foot，即底部显示</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalCaption" type="xs:string">
            <xs:annotation>
              <xs:documentation>合计的标题，默认为“合计”</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="TotalPosition" type="dn:DataDirectionType">
            <xs:annotation>
              <xs:documentation>合计的位置，默认为Foot，即底部显示</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="AutoQuery" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>首次进入页面的时候，自动调用查询功能，默认为true</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="ShowQueryPanel">
            <xs:annotation>
              <xs:documentation>显示查询面板，默认true显示，当为false时，AutoQuery自动开启</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalTreeData">
    <xs:annotation>
      <xs:documentation>匹配NormalTree模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="dn:TreeDataAttrGrp"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NormalMultiEditData">
    <xs:annotation>
      <xs:documentation>匹配NormalMultiEdit模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:NormalEditDataType">
          <xs:sequence>
            <xs:element name="TableData" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>配置表的显示数据</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dn:FreeMarkerField" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element ref="dn:RowDisplay" minOccurs="0"/>
                  <xs:element ref="dn:ControlGroup" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="TableName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>需要配置的表名</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OnRowAdded" type="xs:Name">
                  <xs:annotation>
                    <xs:documentation>如果配置，当js增加行时，将被触发</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
                <xs:attribute name="OnRowDeleted" type="xs:Name">
                  <xs:annotation>
                    <xs:documentation>如果配置，当js删除行时，将被触发</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="UseTabStyle" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>编辑的时候，采用Tab的方式显示表的数据。默认值为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MobileListDataType">
    <xs:complexContent>
      <xs:extension base="dn:BasePageDataType">
        <xs:sequence>
          <xs:element ref="dn:RowDisplay"/>
        </xs:sequence>
        <xs:attribute name="NoDataCaption" type="xs:string" default="无数据">
          <xs:annotation>
            <xs:documentation>没有数据时的显示。默认为"无数据"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Direction" type="dn:DataDirectionType">
          <xs:annotation>
            <xs:documentation>在列表的头部或者底部插入获取的数据。默认为Foot底部</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TitleFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation>页面的Title模板，默认为"浏览%s"</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowDeleteButton" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>显示删除按钮，默认为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControlGroup">
    <xs:annotation>
      <xs:documentation>展示的控件进行分组</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GroupSection" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>分组的区块</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Caption" type="dn:MultiLanguageType">
                <xs:annotation>
                  <xs:documentation>分组的标题</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Order" type="xs:unsignedInt" use="required">
              <xs:annotation>
                <xs:documentation>分组第一个控件的Order值，在此Order值和下一个Order值之间的控件将进入此分组</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IsCollaspe">
              <xs:annotation>
                <xs:documentation>该分组起始是否收缩，默认为false</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NormalDetailDataType">
    <xs:complexContent>
      <xs:extension base="dn:MobileDetailDataType">
        <xs:sequence>
          <xs:element name="AdditionData" type="dn:MarkerOutputDataType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>在显示完明细后，如果有额外内容显示再此定义</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="dn:Buttons" minOccurs="0"/>
          <xs:element ref="dn:ControlGroup" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="DialogMode" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>标记是否采用Dialog模式打开，默认为False</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NormalCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在页面模式下，返回按钮的标题，默认为“返回”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DialogCancelCaption" type="xs:string">
          <xs:annotation>
            <xs:documentation>在对话框模式下，返回按钮的标题，默认为“关闭”</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShowTitle" type="xs:boolean" default="true">
          <xs:annotation>
            <xs:documentation>是否显示标题，缺省为true</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SpaceMode">
          <xs:annotation>
            <xs:documentation>控件间隔，默认为None。当为Line时，控件行与行之间将有分隔线。当为Border时，控件周围将有边框</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:NMTOKEN">
              <xs:enumeration value="None"/>
              <xs:enumeration value="Line"/>
              <xs:enumeration value="Border"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalMultiDetailData">
    <xs:annotation>
      <xs:documentation>匹配NormalMultiDetail模板使用的数据</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dn:NormalDetailDataType">
          <xs:sequence>
            <xs:element name="TableData" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>配置以None方式显示的表的显示数据</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dn:FreeMarkerField" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element ref="dn:ControlGroup" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="TableName" type="xs:Name" use="required">
                  <xs:annotation>
                    <xs:documentation>需要配置的表名</xs:documentation>
                  </xs:annotation>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="UseTabStyle" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>仅在工作流的时候有效，在显示的时候，采用Tab的方式显示表的数据。默认值为false</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
